.branch-search {
    position: relative;
    margin-bottom: 20px;
}

#branch-search-input {
    width: 100%;
    padding: 10px 10px 10px 35px; /* Add padding to the left for the icon */
    font-size: 1em;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.branch-search .bi-search {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

#pagination-container {
    margin-top: 20px;
    text-align: center;
}

#pagination-container a {
    color: #6a1b9a;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

#pagination-container a.active {
    background-color: #6a1b9a;
    color: white;
    border: 1px solid #6a1b9a;
}

#no-results-message {
    text-align: center;
    margin-top: 20px;
    font-style: italic;
}

.province-filter {
    margin-bottom: 20px;
}

#province-select {
    padding: 10px;
    font-size: 1em;
    border-radius: 4px;
}

.iran-branches-container .province-title {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 2em;
    color: #333;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 5px;
}

.iran-branches-container .branch-accordion {
    margin-bottom: 15px;
    border-radius: 10px;
}

.iran-branches-container .branch-header {
    background-color: #ffffff;
    color: rgb(68, 68, 68);
    padding: 15px;
    cursor: pointer;
    position: relative;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: color 0.3s, background-color 0.3s;


}

.iran-branches-container .branch-header::after {
    content: '\25BC';
    font-size: 18px;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
    
}

.iran-branches-container .branch-header.active::after {
    transform: translateY(-50%) rotate(180deg);
    
    
}
.iran-branches-container .branch-header.active {
    background-color: #ff3300;
    color: #ffffff;


}

.iran-branches-container .branch-content {
    border-top: 1px solid #ddd;
    max-height: 0;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 22px 20px -25px;
    transition: max-height 0.3s ease;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: linear-gradient(white, white) padding-box,
              linear-gradient(to right, #ff552b, #ececec, #ececec, #ececec, #ff552b) border-box;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    



}

.iran-branches-container .branch-content-inner {
    padding: 15px;
}

.iran-branches-container .branch-content p {
    margin: 0 0 15px;
}

.branch-info-line {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.branch-info-line svg {
    width: 16px;
    height: 16px;
    fill: #444;
    margin-left: 5px;
}

.iran-branches-container .branch-routing img {
    width: 32px;
    height: 32px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.iran-branches-container .branch-routing img:hover {
    border-color: #ff3300;
}
